body {
    background-color: #F5F5F5;
    font-family: 'Roboto', 'sans-serif';
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    margin-bottom: 40px;
    margin-top: 30px;
    background: #0051B3;
    height: 66px;
    width: 100%;
    top: 30px;
    left: 0;
    z-index: 99;
}
.header-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 6px 0;
}
.logo {
    /* box-shadow: 5px 10px 8px #D7ADAD; */
    border-radius: 30px;
}
.logo:hover {
    /* box-shadow: 5px 10px 8px rgb(238, 64, 64); */
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.menu-list {
    margin-right: auto;
    margin-left: 75px;
}
.menu-link {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    margin-right: 35px;
    color: #fff;
    opacity: .7;
}
.menu-link:hover {
    opacity: 1;
}
.menu-button {
    display: none;
}
.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}
.description {
    max-width: 1140px;
    margin: auto;
    width: auto;
    color: #000000;
}
.main-image {
    width: 1044px;
    height: 168px;
    margin: 45px auto;
    margin-bottom: 70px;
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.table {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.car {
    text-align: center;
    margin-bottom: 30px;
}
.icon {
    width: 283px;
    height: 305px;
    background: #3680D9;
    border-radius: 5px;
    padding: 10px 0px;
}
.image {
    width: 263px;
    height: 168px;
    margin: 0px 10px 10px 10px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.description-icon {
    margin: 0px 10px;
    width: 263px;
    height: 127px;
    background: rgba(255, 255, 255, 0.9);
    color: #000000;
}
.photo {
    height: 440px;
    width: 692px;
    background-repeat: no-repeat;
    background-size: cover;
}
.description-container {
    display: flex;
}
.description-photo {
    background-color: #ffffff;
    height: 100px;
    width: 486px;
    color: #000000;
    margin-left: 25px;
}
.characteristic {
    background-color: #ffffff;
    color: #000000;
    margin-top: 30px;
    height: 60px;
    margin-bottom: 30px;
}
.back {
    color: #6298D9;
    margin-bottom: 10px;
    cursor: pointer;
}
.back::before {
    content: '';
    background-image: url(../images/arrow.svg);
    display: inline-block;
    width: 14px;
    height: 11px;
    margin-right: 10px;
}
.button {
    font-family: Roboto;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 12px 10px;
    width: 189px;
    background: #6298D9;
    /* background: linear-gradient(180deg, #6298D9 0%, rgba(116, 128, 164, 0.22) 100%); */
    border-radius: 10px;
    border: none;
}
.button:hover {
    background: #0051B3;
    /* background: linear-gradient(180deg, rgb(136, 160, 232) 0%, rgba(116, 128, 164, 1) 100%); */
    box-shadow: 2px 2px 0px rgb(43, 44, 47);
}
.go {
    font-family: Roboto;
    font-size: 25px;
    line-height: 26px;
    color: #FEEFE2;
    text-decoration: none;
}
.about {
    color: #000000;
    font-size: larger;
    text-align: center;
    font-family: Roboto Mono;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 25%;
    margin-bottom: 50px;
}
/* footer */
.footer {
    background-color: black;
    padding: 20px 0;
    margin-top: auto;
}
.footer-container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}
.footer-content {
    display: flex;
    align-items: center;
}
.copyright {
    color: #ffffff;
    opacity: 0.7;
}
@media (max-width: 1240px) {
    .container {
        max-width: 1100px;
        width: 95%;
    }
    .header-block {
        width: 95%;
    }
    .main-image {
        width: 100%;
    }
}
@media (max-width: 1160px) {
    .photo {
        background-size: contain;
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
    }
    .description-photo {
        height: 100px;
        width: 100%;
        margin: 0;
    }
    .description-container {
        display: block;
    }
}
@media (max-width: 840px) {
    .main-image {
        display: none;
    }
    .container {
        width: 95%;
    }
    .table {
        display: inline-block;
        margin: 30px;
    }
    .car {
        margin: auto;
        margin-bottom: 30px;
    }
}
@media (max-width: 590px) {
    .main {
        width: 100%;
    }
    .header {
        position: fixed;
        top: -30px;
    }
    .container {
        margin-top: 99px;
    }
    .menu {
        display: none;
    }
    .menu-button {
        display: block;
        position: absolute;
        top: 32px;
        right: 25px;
        width: 30px;
        height: 2px;
        background-color: #fff;
        border: none;
        cursor: pointer;
    }
    .menu-button:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: transform 0.2s;
        margin-top: -7px;
    }
    .menu-button:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: transform 0.2s;
        margin-top: 7px;
    }
    .menu-button-active {
        height: 0;
        z-index: 2;
    }
    .menu-button-active:before {
        transform: rotate(45deg);
        margin-top: 0;
    }
    .menu-button-active:after {
        transform: rotate(-45deg);
        margin-top: 0;
    }
    .menu-active {
        display: inline;
        position: absolute;
        margin: 0;
        top: 66px;
        left: 0;
        height: 50px;
        width: 100%;
        background-color: #6298D9;
    }
    .menu-list {
        position: relative;
        margin: 0;
        line-height: 21px;    
        top: 14px;
        margin-left: 25px;
    }
    .photo {
        background-size: contain;
        height: 250px;
    }
}